<h2 class="user-show">Name: <%= @user.name %></h2>
<p>User Name: <%= @user.user_name %></p>
<p><%= image_tag @user.avatar, class: "usr-av" %></p>
<br>
<%= button_to "Edit User?", edit_user_path(@user), method: :get %> 
