/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Montez', cursive;
  padding: 5px;
}

#menu, .menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* this is where the header content is styled */

.header {
  padding-bottom: 20px;
  border-bottom: 5px solid black;
  padding-right: 150px;
  display: flex;
}
.header a {
  display: inline;
  text-align: right;
  padding-right: 50px;
}
.header .imgcontent {
  display: inline;
  max-width: 300px;
}
.header .user {
  display: inline;
  text-align: right;
  padding-left: 200px;
}


/* This is where the body is styled */



/* This is where the footer is styled */

.footer {
  text-align: center;
  
}
.footer-menu {
  padding-left: 20px;
  text-align: center;
  font-size: larger;
  
}
.footer-menu ul {
  margin: 90px auto;
  float: center;
  
}
.footer-menu ul li{
  display: inline;
  
}
.footer-menu ul li a:hover{
  color: darkcyan;
  
}
.each-footer-menu-item {
  padding: 20px;
  
}


