// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.car_pic {
  width: 100%;
  padding: 10px
}
.desc {
  width: 75%;
  padding: 20px;
}
.car-thumb {
  width: 200px;
  padding: 10px
}

