// Place all the styles related to the owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 10px;
  text-indent: 35px;
}

.own-nm {
  text-decoration: underline;
  font-size: xx-large;
}

a {
  padding: 10px;
}