// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  margin: 10px 20px;
  font-size: large;
  text-indent: 35px;
}
.usrNm {
  padding-inline-start: 10px;
}
.usr-av {
  width: 100px;
  padding: 10px
}

a {
  padding-inline-start: 75px; 
}